.tabs {
  display: flex;
  overflow-x: scroll;
}

.tabs__tab {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(230, 234, 241);
  border-top-color: rgb(230, 234, 241);
  border-right-color: rgb(230, 234, 241);
  border-bottom-color: rgb(230, 234, 241);
  border-left-color: rgb(230, 234, 241);
  border-image: initial;
  background-color: white;
  padding: 1px 0.8rem;
  border-right: 0;
  white-space: nowrap;
}

.tabs__tab:first-child {
  border-top-left-radius: 0.25rem;
}

.tabs__tab:last-child {
  border-top-right-radius: 0.25rem;
  border-right: 1px;
}

.tabs__tab:focus {
  outline: none;
}

.tabs__tab--active {
  background: rgb(246, 51, 102);
  color: white;
}
